<footer>
	<div class="footer-quote">
		<p>"I knew right there in prison that reading had changed forever the course of my life. As I see it today, the ability to read awoke inside me some long dormant craving to be mentally alive." <span>Malcolm X</span></p>
	</div>
	<div class="nav-wrapper">
		<div class="footer-content">
			<a href="/" class="pbc-logo"><img src="/img/logo.svg" alt="PBC logo"></a>
			<div class="link-list">
				<div class="address">
					<p class="label">Contact Us</p>
					<p><b>Prison Books Collective</b></p>
					<p>PO Box 625</p>
					<p>Carrboro, NC 27510</p>
				</div>
				
				<ul>
					<li class="email"><a href="mailto:prisonbooks@gmail.com">prisonbooks@gmail.com</a></li>
					<li class="phone"><a href="tel:919-443-9238">(919) 443-9238</a></li>
				</ul>
				<ul class="social-links">
					<li><a href="{{ site.facebook_link }}/"><img src="/img/icon-facebook.jpg" alt=""></a></li>
					<li><a href="{{ site.twitter_link }}"><img src="/img/icon-twitter.jpg" alt=""></a></li>
					<li><a href="{{ site.instagram_link }}"><img src="/img/icon-instagram.jpg" alt=""></a></li>
				</ul>
			</div>
			<div class="link-list">
				<p class="label">Support Us</p>
				<ul>
					<li><a href="#">Donate</a></li>
					<li><a href="#">Volunteer</a></li>
					<li><a href="#">Advocate Prison Reform</a></li>
				</ul>
			</div>
			<div class="link-list">
				<p class="label">Our Work</p>
				<ul>
					<li><a href="#">Workdays</a></li>
					<li><a href="#">Philosophy</a></li>
					<li><a href="#">Nonprofit Registration</a></li>
				</ul>
			</div>
			<div class="link-list">
				<p class="label">Resources</p>
				<ul>
					<li><a href="#">PBC Resources</a></li>
					<li><a href="#">Inmate Support in NC</a></li>
					<li><a href="#">Books-to-Prisons Programs</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
