html {
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: $black-01;
  font-family: $serif;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
}

img { width: 100%; }

figcaption {  }

header {
  padding-bottom: 4rem;

  @media all and (max-width: $break-small) {
    padding-bottom: 4rem;
  }
} // header


ul {}

ol {}

p { margin-bottom: 1rem; }

b { font-weight: 500; }

h1 {
  @include serif-jumbo;
  margin-bottom: 2rem;
}


a {
  text-decoration: underline;

  transition: all 100ms;

  &:visited {
  }

  &:hover {
    text-decoration: underline;
  }

  &.btn-primary {
    @include sans-medium-bold;
    background: $purple-01;
    color: $white-01;
    padding: 0.75rem 1.25rem;
    text-decoration: none;

    &:hover { background: $purple-02; }
  } // .btn-primary

  &.btn-secondary {
    @include sans-medium-bold;
    background: $purple-04;
    color: $purple-01;
    padding: 0.75rem 1.25rem;
    text-decoration: none;

    &:hover { background: $purple-03; }
  } // .btn-secondary

  &.btn-tertiary {
    @include sans-medium-bold;
    border-bottom: 2px solid $purple-03;
    color: $purple-02;
    padding-bottom: 2px;
    text-decoration: none;

    &:hover {
      color: $purple-01;
      border-bottom: 2px solid $purple-02;
    }
  } // .btn-secondary
}


blockquote {  }

// === Wrappers === //

.nav-wrapper {
  margin: 0 auto;
  max-width: $break-large;
  padding: 0 2rem;
}

.page-content {  }

.content-wrapper {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 2rem;
}

