/* === Global === */

.covid-banner {
	background-color: $red-03;
	border-bottom: 1px solid darken($red-03, 10%);
	padding: 0.5rem 2rem 0 2rem;
	text-align: center;

	p {

		@include sans-small;

		color: $red-01;
		margin-bottom: 0.5rem;

		a:link,
		a:visited {
			color: $red-01;
			text-decoration: underline;
		}

		a:hover,
		a:active {
			color: darken($red-01, 10%);
			text-decoration: underline;
		}

		span {
			font-weight: 500;

			&:before {
				background-color: $red-01;
				border-radius: 6px;
				content: "";
				display: inline-block;
				height: 6px;
				margin: 6px 6px 0 0;
				vertical-align: top;
				width: 6px;
			}
		}
	}
} // .covid-banner

.page-header {
	margin: 6rem auto 0 auto;

	.intro { 
		@include serif-extra-large;
		max-width: $break-small;
	}
	
}

.copy-right,
.copy-left {
	display: flex;
	justify-content: space-between;
	margin: 8rem 0;

	@media all and (max-width: $break-medium) { flex-wrap: wrap; }

	.content { 
		margin: 2rem 0 0 2rem;
		width: 40%;

		@media all and (max-width: $break-medium) {
			margin: 4rem 2rem 2rem 2rem;
			width: auto;
		}

		a.btn-primary,
		a.btn-secondary,
		a.btn-tertiary { margin-top: 1rem; }
	}

	figure {
		width: 50%;

		@media all and (max-width: $break-medium) { width: 100%; }
	}

	&.instantiated {
		margin: 0 0 6rem 0;

		.content { 
			width: 50%;

			@media all and (max-width: $break-medium) { width: auto; }
		}

		figure {
			margin: 4rem 0;
			width: 42%;

			@media all and (max-width: $break-medium) { width: 100%; }
		}
	}

} // .copy-right, .copy-left

.copy-left {

	@media all and (max-width: $break-medium) { flex-wrap: wrap-reverse; }

	.content {
		margin: 2rem 2rem 0 0;
	}
} //.copy-left

.copy-center {
	margin: 10rem 0 12rem 0;
	text-align: center;

	@media all and (max-width: $break-medium) { margin: 6rem 0 10rem 0; }

	p {
		margin: 1rem auto;
		max-width: 540px;
	}

	a.btn-tertiary { margin-top: 1rem; }

	.support-links {
		display: flex;
		justify-content: space-between;
		margin: 4rem auto;
		max-width: 780px;

		@media all and (max-width: $break-small) { display: block; }

		.support-link {
			background-color: $gold-04;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
			border-radius: 2px;
			padding: 2rem;
			text-decoration: none;
			transition: ease-in-out 200ms;
			width: 30%;

			&:hover {
				box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16);
				transform: translateY(-8px);
				transition: ease-in-out 200ms;
			}

			@media all and (max-width: $break-medium) { padding: 2rem 0.5rem; }

			@media all and (max-width: $break-small) {
				display: block;
				margin: 2rem 0 0 0;
				padding: 2rem 1rem;
				width: 100%;
			}

			img {
				margin: 0 auto;
				max-height: 64px;
				width: auto;
			}

			p {

				@include sans-medium;
				color: $black-02;
				margin: 2rem 0 0 0;

				&.pseudo-link {
					@include label-small;
					color: $purple-02;

					&:after {
						background-image: url("/img/icon-new-window.svg");
						content:"";
						display: inline-block;
						height: 10px;
						margin-left: 0.3rem;
						width: 10px;
					}
				}
			} // p
		} // .support-link
	} // .support-links

} // .copy-center



/* === Home === */


.home {

	header {
		background-color: $gold-04;
		margin-bottom: 4rem;
	}

	.home-intro { 
		display: flex;
		justify-content: space-between;

		@media all and (max-width: $break-small) { flex-wrap: wrap-reverse; }

		.home-intro-description {
			margin-top: 4rem;
			padding-bottom: 2rem;
			vertical-align: top;
			width: 54%;

			@media all and (max-width: $break-small) { width: 100%; }

			.intro { @include serif-extra-large; }

			.intro-secondary { @include serif-large; }
		} // .home-intro-description

		figure {
			margin-top: 2rem;
			width: 36%;

			@media all and (max-width: $break-medium) {
				margin-top: 4rem;
				width: 50%;
			}

			@media all and (max-width: $break-small) { 
				margin: 0 auto -1rem auto;
				width: 64%;
			}
		}

	} // .home-intro

} // .home
