html {
  font-size: 16.5px;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

body {
  color: $black-01;
  font-family: $serif;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
}

img { width: 100%; }

figcaption { 
  @include sans-extra-small;

  color: $black-03;
  margin-top: 0.75rem;

  a:link,
  a:visited { color: $black-03; }

}

header {
  padding-bottom: 4rem;

  @media all and (max-width: $break-small) {
    padding-bottom: 4rem;
  }
} // header


ul {}

ol {}

p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

b { font-weight: 500; }

strong { font-weight: bold; }


h1 {
  @include serif-jumbo;
  margin-bottom: 2rem;
}

h2 {
  @include sans-large-bold;
  margin-bottom: 1rem;
}


a {
  color: $black-01;
  text-decoration: underline;

  &:link{}

  &:active{}

  &:visited {
    color: $black-01;
  }

  &:hover {
    color: lighten($purple-02, 10%);
    text-decoration: underline;
  }

  &:after {
    @include transition-primary;
    background-repeat: no-repeat;
  }

  &.btn-primary {
    @include sans-medium-bold;
    background: $purple-01;
    color: $white-01;
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;

    &:hover { background: #7a83d6; }
  } // .btn-primary

  &.btn-secondary {
    @include sans-medium-bold;
    background: $purple-04;
    color: $purple-01;
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;

    &:hover { background: darken($purple-04, 3%); }
  } // .btn-secondary

  &.btn-tertiary {
    @include sans-medium-bold;
    border-bottom: 2px solid $purple-03;
    color: $purple-02;
    display: inline-block;
    padding-bottom: 2px;
    text-decoration: none;

    &:hover {
      color: $purple-01;
      border-bottom: 2px solid $purple-02;
    }
  } // .btn-secondary

  &.download {
    &:after {
      background-image: url("/img/icon-download.svg");
      content: "";
      display: inline-block;
      height: 16px;
      margin-left: 0.3rem;
      margin-top: -4px;
      vertical-align: middle;
      width: 12px;
    }
  }

  &.arrow:after {
    background-image: url("/img/icon-arrow.svg");
    content: "";
    display: inline-block;
    height: 16px;
    margin-left: 4px;
    margin-top: -3px;
    vertical-align: middle;
    width: 14px;
  }

  &.external-link:after {
    background-image: url("/img/icon-external-link.svg");
    content: "";
    display: inline-block;
    height: 16px;
    margin-left: 8px;
    margin-top: 4px;
    vertical-align: middle;
    width: 14px;
  }

  &.email:after {
    background-image: url("/img/icon-email.svg");
    content: "";
    display: inline-block;
    height: 16px;
    margin-left: 8px;
    margin-top: 4px;
    vertical-align: middle;
    width: 14px;
  }

  &.arrow-white:after {
    background-image: url("/img/icon-arrow-white.svg");
    margin-left: 2px;
    margin-top: -5px;
  }

  &.link-set { 
    margin-left: 2rem;

    @media all and (max-width: $break-small) { margin-left: 1rem; }
   }
} // a


blockquote {  }

// === Wrappers === //

.nav-wrapper {
  margin: 0 auto;
  max-width: $break-large;
  padding: 0 2rem;

  @media all and (max-width: $break-medium) { padding: 0 1rem; }
}

.page-content {
  @include fade-in;
  animation-delay: 0.6s;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 4rem;

  @media all and (max-width: $break-medium) { padding: 0 2rem; }

  @media all and (max-width: $break-tiny) { padding: 0 1rem; }
}

.content-left {
  margin: 6rem 0;
  max-width: $content-container-width;

  @media all and (max-width: $break-medium) { margin: 4rem 0; }
}

.content-container-width { max-width: $content-container-width; }

