/* === Primary Nav === */

.primary-nav {
  position: relative;

  @media all and (max-width: $break-small) {}

}

.home-link {
  display: inline-block;
  margin-top: 0.5rem;

  &,
  &:visited {
    color: $black-01;
    text-decoration: none;
  }

  &:hover { 
    opacity: 0.8;
    text-decoration: none; 
  }

  img {
    display: inline-block;
    margin-top: 6px;
    vertical-align: top;
    width: 64px;

    @media all and (max-width: $break-small) {
      margin-top: 10px;
      width: 44px;
    }
  }

  p { 
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 14px 0 0 8px;

    @media all and (max-width: $break-small) {
      font-size: 1.2rem;
      margin: 10px 0 0 6px;
    }

    span { 
      @include sans-medium;
      display: block;
      margin-top: -4px;

      @media all and (max-width: $break-small) {
        @include sans-small;
        margin-top: -2px;
      }
    }

  }
} // .home

.nav-links {
  float: right;

  .menu-icon { display: none; }

  .link-list { 
    margin: 2rem 0;

    li { 
      display: inline-block;
      
      &:nth-child(n+2) { margin-left: 1.2rem; }

      @media all and (max-width: $break-medium) { 
        display: block;

        &:nth-child(n+1) {
          float: right;
          margin: 0.5rem;
        }
      }
    }

    .page-link {
      @include sans-medium-bold;

      a {
        border-bottom: 2px solid transparent;
        color: $purple-02;
        padding-bottom: 2px;
        text-decoration: none;
        
        &:hover,
        &.selected {
          border-bottom: 2px solid $purple-03;
          color: $purple-02;
        }
      } // a
    } // .page-link
  }

  @media all and (max-width: $break-medium) {
    background-color: $white-01;
    border: 1px solid $gray-02;
    margin: 20px 8px 0 0;

    .menu-icon {
      background: url("/img/icon-nav.svg") no-repeat center center $gold-04;
      content: "";
      display: block;
      float: right;
      width: 40px;
      height: 40px;
    }

    .link-list {
      background: $white-01;
      clear: both;
      display: none;
      position: absolute;
      right: 0;
      top: -2rem;
    }

    &:focus .link-list {
      @include shadow-default;
      background: $gold-04;
      border-radius: 2px;
      display: block;
      padding: 1rem 1.5rem 2rem 1.5rem;
      width: 160px;
      z-index: 1;
    }
  } // media query
} // .nav-links

/* === Footer === */

footer {
  background: $gold-04;
  margin-top: 8rem;
}

.footer-quote {
  background-color: $gold-03;
  color: $black-02;
  font-size: 1.1rem;
  padding: 1.5rem;
  text-align: center;

  p {
    font-style: italic;
    margin: 0 auto;
    max-width: 640px;

    span {
      @include sans-small;
      display: block;
      font-weight: 500;
      margin-top: 0.75rem;

      &:before {
        background-image: url("/img/photo-malcolm-x.jpg");
        background-size: 100%;
        border-radius: 40px;
        content: "";
        display: inline-block;
        height: 48px;
        margin-right: 0.75rem;
        vertical-align: middle;
        width: 48px;
      }
    }
  }
} // .footer-quote

.footer-content {
  @include sans-small;

  display: flex;
  justify-content: space-between;
  padding: 4rem 0;

  @media all and (max-width: $break-medium) {
    flex-wrap: wrap;
    padding-top: 2rem;
  }

  @media all and (max-width: 500px) {
    margin: 0 auto;
    max-width: 240px;
  }

  .pbc-logo { 
    border-bottom: none;
    margin: 0 7% 0 2rem;
    min-width: 64px;
    width: 40%;

    &:hover { opacity: 0.8; }

    @media all and (max-width: $break-medium) { 
      margin: 3rem;
      width: 25%;
    }

    @media all and (max-width: 500px) {
      margin: 0 0 0 -2.5rem;
      width: 38%;
    }
  }

  .label {
    @include sans-small;
    color: $black-03;
    margin-bottom: 1rem;

    @media all and (max-width: $break-medium) { margin-bottom: -0.3rem; }
  }

  .address {
    margin-bottom: 1.5rem;

    p { @include sans-small; }

    p:not(.label) {
      margin-bottom: 0.3rem;
      margin-top: 0.5rem;
    }
  }

  .social-links {
    margin-top: 2rem;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 0.75rem;

      img {
        border-radius: 4px;
        max-width: 32px;
      }

      a:hover { img { opacity: 0.8; } }
    }
  } // .social-links

  .link-list {
    padding-right: 2rem;
    vertical-align: top;

    @media all and (max-width: $break-medium) { 
      margin-bottom: 2rem;
      margin-left: 6rem;
      padding-right: 0;
      width: 50%;
    }

    @media all and (max-width: 500px) {
      margin-bottom: 1rem;
      width: 100%;
    }

    &:nth-child(2) {
      @media all and (max-width: $break-medium) {
        margin-top: -7rem;
      }
    }

    ul { padding: 0; }

    li {
      list-style-type: none;
      margin-bottom: 0.75rem;
    }

    a { padding-bottom: 1px; }

    a:link,
    a:visited {
      border-bottom: 1px solid $black-04;
      color: $black-01;
      text-decoration: none;
    }

    a:hover,
    a:active {
      border-bottom: 1px solid $black-02;
      color: $black-01;
      text-decoration: none;
    }
  } // .link-list

} //.footer-content
