/* === Global === */

.covid-banner {
	background-color: $red-03;
	border-bottom: 1px solid darken($red-03, 10%);
	padding: 0.5rem 0.5rem 0 0.5rem;
	text-align: center;

	p {

		@include sans-small;

		color: $red-01;
		margin-bottom: 0.5rem;

		a:link,
		a:visited {
			color: $red-01;
			text-decoration: underline;
		}

		a:hover,
		a:active {
			color: darken($red-01, 10%);
			text-decoration: underline;
		}

		span {
			font-weight: 500;

			&:before {
				background-color: $red-01;
				border-radius: 6px;
				content: "";
				display: inline-block;
				height: 6px;
				margin: 6px 6px 0 0;
				vertical-align: top;
				width: 6px;
			}
		} // span
	}
} // .covid-banner

.page-header {
	margin: 6rem auto 0 auto;

	h1 {
		@include fade-up-in;
		animation-duration: 500ms;
	}

	.intro {
		@include fade-up-in;
		animation-delay: 300ms;

		p { 
			@include serif-extra-large;
			max-width: $break-small;
		}
	}
} // .page-header

.copy-left {
	@media all and (max-width: $break-medium) { flex-wrap: wrap-reverse; }
	.content {
		margin: 2rem 2rem 0 0;
	}
} //.copy-left

.copy-right {
	.content { margin: 2rem 0 0 2rem; }
} // .copy-right

.copy-right,
.copy-left {
	display: flex;
	justify-content: space-between;
	margin: 6rem 0;

	@media all and (max-width: $break-medium) {
		flex-wrap: wrap;
		margin: 4rem 0;
	}

	.content { 
		width: 40%;

		@media all and (max-width: $break-medium) {
			margin: 4rem 2rem 2rem 2rem;
			width: auto;
		}

		@media all and (max-width: $break-small) {
			margin: 2rem 0;
			width: auto;
		}

		a.btn-primary,
		a.btn-secondary,
		a.btn-tertiary { margin-top: 1rem; }
	}

	figure {
		width: 50%;

		@media all and (max-width: $break-medium) { width: 100%; }
	}

	&.instantiated {
		margin: 0 0 4rem 0;

		.content { 
			width: 50%;

			@media all and (max-width: $break-medium) { width: auto; }
		}

		figure {
			margin: 4rem 0 0 0;
			width: 36%;

			@media all and (max-width: $break-medium) {
				margin-top: 2rem;
				width: 100%;
			}
		}
	} // .instantiated
} // .copy-right, .copy-left

.copy-center {
	margin: 7rem 0 10rem 0;
	text-align: center;

	@media all and (max-width: $break-medium) { margin: 4rem 0 6rem 0; }

	p {
		margin: 1rem auto;
		max-width: 540px;
	}

	a.btn-tertiary { margin-top: 1rem; }

	.support-links {
		display: flex;
		justify-content: space-between;
		margin: 4rem auto;
		max-width: 780px;

		@media all and (max-width: $break-small) { display: block; }

		.support-link {
			@include shadow-default;
			background-color: $gold-04;
			border-radius: 2px;
			padding: 2rem;
			text-decoration: none;
			width: 30%;

			&:hover { @include shadow-hover; }

			&:active { box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); }

			@media all and (max-width: $break-medium) { padding: 2rem 0.5rem; }

			@media all and (max-width: $break-small) {
				display: block;
				margin: 2rem auto 0 auto;
				padding: 2rem 1rem 0.5rem 1rem;
				width: 80%;
			}

			img {
				margin: 0 auto;
				max-height: 64px;
				width: auto;
			}

			p {
				@include sans-medium;
				color: $black-02;
				margin: 2rem 0 0 0;

				@media all and (max-width: $break-small) { margin: 1rem 0;}

				&.pseudo-link {
					@include label-small;
					color: $purple-02;

					&:after {
						background-image: url("/img/icon-external-link.svg");
						content:"";
						display: inline-block;
						height: 10px;
						margin-left: 6px;
						width: 10px;
					}
				}
			} // p
		} // .support-link
	} // .support-links

} // .copy-center



/* === Home === */


.home {

	header {
		background-color: $gold-04;
		border-bottom: 1px solid $gold-03;
	}

	.home-intro { 
		display: flex;
		justify-content: space-between;

		@media all and (max-width: $break-small) { flex-wrap: wrap-reverse; }

		.home-intro-description {
			margin-top: 3rem;
			padding-bottom: 2rem;
			vertical-align: top;
			width: 54%;

			@media all and (max-width: $break-small) { width: 100%; }

			.intro {
				@include serif-extra-large;
				@include fade-up-in;
				animation-duration: 500ms;
			}

			.intro-secondary {
				@include serif-large;
				@include fade-up-in;
				animation-delay: 300ms;
				margin-bottom: 1rem;
			}

			.btn-secondary {
				@include fade-up-in;
				animation-delay: 500ms;
			}
		} // .home-intro-description

		figure {
			margin-top: 1rem;
			width: 32%;

			@media all and (max-width: $break-medium) {
				margin-top: 4rem;
				width: 50%;
			}

			@media all and (max-width: $break-small) { 
				margin: 2rem auto -1rem auto;
				width: 64%;
			}
		}

	} // .home-intro

} // .home


/* === Support Us === */

.support-method {
	@include fade-in;
	animation-delay: calc(0.6s + 0.3s * var(--index));
	border-bottom: 1px solid $gray-02;
	display: flex;
	margin-bottom: 4rem;
	padding-bottom: 3rem;

	@media all and (max-width: $break-medium) { display: block; }

	.number {
		width: 12%;
		p { @include serif-extra-large-bold; }

		@media all and (max-width: $break-medium) {
			display: inline-block;
			margin-right: 1rem;
			vertical-align: top;
			width: 6%;
		}
	}

	.content {
		margin-bottom: 1rem;
		max-width: 520px;

		@media all and (max-width: $break-medium) {
			display: inline-block;
			vertical-align: top;
			width: 86%;
		}

		h2 { @include serif-extra-large-bold; }
		
		.btn-secondary { margin-top: 1rem; }
	}

	.support-image {
		margin-left: auto;
		margin-top: 4rem;
		width: 30%;

		@media all and (max-width: $break-medium) {
			margin: 2rem auto;
			max-width: 320px;
			width: auto;
		}
	}

	.support-card { 
		@include shadow-default;
		background-color: $gold-04;
		border-radius: 2px;
		display: block;
		height: fit-content;
		margin-left: auto;
		margin-top: 4rem;
		padding: 2rem 2rem 1rem 2rem;
		text-align: center;
		text-decoration: none;
		width: 24%;

		@media all and (max-width: $break-medium) {
			margin: 0 auto;
			max-width: 240px;
			width: auto;
		}

		&:hover {
			@include shadow-hover;
		}

		img {
			margin: 0 auto;
			max-height: 64px;
			width: auto;
		}

		.pseudo-link {
			@include label-small;
			color: $purple-02;
			margin-top: 1rem;

			&:after {
				background-image: url("/img/icon-external-link.svg");
				content:"";
				display: inline-block;
				height: 10px;
				margin-left: 0.3rem;
				width: 10px;
			}
		} // .pseudo-link
	} // .support-card

	.genre-links {
		.label {
			@include label-small;
			margin: 3rem 0 1rem 0;
		}

		ul {
			columns: 2;
			column-gap: 3rem;
			margin: 0 0 2rem 0;
			padding: 0 0 0 1rem;

			@media all and (max-width: $break-small) { margin-bottom: 0; }
		}

		li {
			@include sans-small;
			margin: 0 0 1rem 0;
			vertical-align: top;
		}
	}

	.asterisk { 
		color: $purple-01;
		font-weight: bold;
	}

	.asterisk-description {
		@include sans-small;

		color: $black-02;
	}

} // .support-method


/* === Resources === */

.resource-array {
	display: flex;
	justify-content: flex-start;
	margin-top: 2rem;

	a {
		color: $black-02;
		display: block;
		height: fit-content;
		margin-right: 2rem;
		text-decoration: none;

		img {
			@include shadow-default;
			max-height: 260px;
			width: auto;

			&:hover { @include shadow-hover; }
		}

		p {
			@include sans-small;
			margin-top: 1rem;
			text-align: center;
		}
	}
}

/* === FAQs === */

.questions {
	margin-top: -3rem;
	max-width: 600px;

	dt {
		@include serif-medium-bold;
		border-top: 1px solid $gray-02;
		margin: 3rem 0 0.5rem 0;
		padding-top: 3rem;

		&:first-child {
			border-top: none;
			padding-top: 0;
		}
	}
}

/* === Donate === */

.donate-content {
	display: flex;
	justify-content: space-between;

	@media all and (max-width: $break-medium) {
		flex-wrap: wrap-reverse;
	}

	.copy {
		max-width: $content-container-width;
		padding-right: 5rem;

		.address {
			margin: 1rem 0 2rem 2rem;

			p {
				@include sans-medium;
				margin: 0.2rem;
			}

			p:first-child { font-weight: 700; }
		}
	}

	.donate-options {
		@include shadow-default;
		@include fade-in;
		animation-delay: 0.75s;
		background: url('/img/logo-paypal.png'), $gold-04;
		background-position: 32px 32px;
		background-repeat: no-repeat;
		background-size: 48px;
		border-radius: 2px;
		margin-bottom: 8rem;
		max-width: 400px;
		padding: 2rem 2rem 2rem 7rem;
		transition: none;
		
		@media all and (max-width: $break-medium) {
			background-position: 50% 32px;
			margin: 0 auto 6rem auto;
			padding: 7rem 2rem 2rem 2rem;
			text-align: center;
		}

		p {
			@include sans-medium;

			&.label {
				@include label-large;
				margin-bottom: 1rem;
			}
		} // p

		.btn-donate {
			@include label-small;
			border-radius: 4px;
			color: #fff;
			display: inline-block;
			padding: 0.75rem 1rem;
			margin: 1rem 1rem 1rem 0;
			text-align: center;
			text-decoration: none;
			width: 100%;

			@media all and (max-width: $break-tiny) { margin: 0 0.5rem 1rem 0; }

			&:link,
			&:visited {
				background-color: #003087;
			}

			&:hover,
			&:active {
				background-color: #009cde;
			}
		}

	} // .donate-options
} // .donate-content

