h<!DOCTYPE html>

<html>

  {% include head.html %}

  <body class="{{ page.title | downcase }}">

    <header>
      {% include nav.html %}
      {% if page.title == "Home" %}
        <div class="content-wrapper">
          <div class="home-intro ">
            <div class="home-intro-description">
              <p class="intro">Each year we send free books and zines to over a thousand incarcerated people in North Carolina and Alabama, and federal prisons across the mid-atlantic region.</p>
              <p class="intro-secondary">Our mission is to reduce the isolation of imprisonment and provide resources for people directly impacted by mass incarceration in the United States.</p>
              <a href="/about" class="btn-secondary arrow">Learn more about PBC</a>
            </div>
            <figure>
              <img src="/img/illustration-letter.jpg" alt="Illustration of a bird receiving a letter from a prison.">
            </figure>
          </div>
        </div>
      {% else %}
        <div class="page-header content-wrapper">
          <h1> {{page.title_full}} </h1>
          <div class="intro">
           <p>{{page.intro}}</p>
          </div>
        </div>
      {% endif %}
    </header>
  
    <section class="page-content">
      <div class="content-wrapper">
        {{ content }}
      </div>   
    </section>

    {% include footer.html %}

  </body>

</html>
