<!DOCTYPE html>

<html>

  {% include head.html %}

  <body class="{{ page.title | downcase }}">

    {% include covid-banner.html %}

    <header>
      {% include nav.html %}
      {% if page.title == "Home" %}
        <div class="content-wrapper">
          <div class="home-intro ">
            <div class="home-intro-description">
              <p class="intro">We send free books and zines to thousands of incarcerated people in North Carolina and Alabama every year.</p>
              <p class="intro-secondary">Our mission is to reduce the isolation of imprisonment and provide resources for people enduring the mass incarceration system.</p>
              <a href="/about" class="btn-tertiary">Learn more about PBC</a>
            </div>
            <figure>
              <img src="/img/illustration-letter.jpg">
            </figure>
          </div>
        </div>
      {% else %}
        <div class="page-header content-wrapper">
          <h1> {{page.title_full}} </h1>
          <p class="intro">{{page.intro}}</p>
        </div>
      {% endif %}
    </header>
  
    <section class="page-content">
      <div class="content-wrapper">
        {{ content }}
      </div>   
    </section>

    {% include footer.html %}

  </body>

</html>
