---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Use for spacing
$spacing-unit: 4rem;


// Color
$black-01: #424242;
$black-02: #62636B;
$black-03: #878896;
$black-04: #CBCCDA;

$white-01: #ffffff;

$gray-01: #C8D4DB;
$gray-02: #DEE8EE;
$gray-03: #F3F7F9;

$purple-01: #4C5076;
$purple-02: #595F9B;
$purple-03: #BDC0DE;
$purple-04: #E9EAF5;

$gold-01: #E2B463;
$gold-02: #F8D79E;
$gold-03: #F5F1EA;
$gold-04: #FBF9F6;

$green-01: #1C8665;
$green-02: #5DB59A;
$green-03: #E3F2EE;

$red-01: #BE2F02;
$red-02: #EA5526;
$red-03: #FFF1ED;


// Width of the content area
$content-width: 800px;
$content-container-width: 540px;

$break-large: 1280px;
$break-medium: 800px;
$break-small: 600px;
$break-tiny: 400px;


// Shadows

@mixin shadow-default {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	transition: ease-in 200ms;
}

@mixin shadow-hover {
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-8px);
	transition: ease-in 200ms;
}

// Transitions

/* TODO: Safari, Firefox keyframes*/

@mixin transition-primary { transition: ease-in-out 100ms; }

@keyframes fade-up-in {
  from { transform: translateY(1rem); }
  to { 
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin fade-up-in {
  opacity: 0;
  animation: fade-up-in 0.5s;
  animation-fill-mode: both;
}

@keyframes fade-in {
  from {  }
  to { opacity: 1; }
}

@mixin fade-in {
  opacity: 0;
  animation: fade-in 0.5s;
  animation-fill-mode: both;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"css-reset",
	"type",
	"base",
	"nav",
  "pages"
;
